<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd 
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd 
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:property-placeholder location="classpath*:database.properties" />
	<context:property-placeholder location="classpath*:business-messages.properties" />

	<!-- 1. Configuration of Repositories  -->
	<jpa:repositories base-package="com.lab.domain.repository"/>

	<!-- 2. Configuration DATABASE  -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="url" value="${datasource.url}" />
		<property name="driverClassName" value="${datasource.driverClassName}" />
		<property name="username" value="${datasource.username}" />
		<property name="password" value="${datasource.password}" />
	</bean>

	<bean id="entityManagerFactory" 
			class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan" value="com.lab.domain.entity"></property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="MYSQL"></property>
				<property name="generateDdl" value="true"></property>
				<property name="showSql" value="true"></property>
			</bean>
		</property>
	</bean>
	
	<!-- 4. Dialect to JPA -->
	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" >
	</bean>
	
	<!-- 5. Enable Spring Annotations -->
	<context:annotation-config></context:annotation-config>
	
	<context:component-scan base-package="com.lab"></context:component-scan>



	<!-- 6. Transactions Manager -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource"></property>
		<property name="jpaDialect" ref="jpaDialect"></property>
	</bean>
	
	<!-- 7. Enable annotation @Transacional -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	
</beans>